
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#4caf50">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    
  </head>
  <body>
    <header class="page-header" role="banner">
      <img src="https://user-images.githubusercontent.com/5000255/185856561-9cb11b76-4f4f-4e76-b487-d308708b1365.png" alt="Partido Logo" style="display: block; margin: 0 auto 20px;"/>
      <a href="/" class="btn">Home</a>
      <a href="/blog.html" class="btn">Blog</a>
      <a href="/faq.html" class="btn">FAQ</a>
      <a href="/contact.html" class="btn">Contact</a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-credits">
          <a href="/imprint.html" class="btn">Imprint</a> | <a href="/privacy.html" class="btn">Privacy Policy</a>
        </span>
      </footer>
    </main>
  </body>
</html>
